/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rotis";
  src: url("/fonts/RotisSemiSerifStd.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rotis";
  src: url("/fonts/RotisSemiSerifStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poor Richard";
  src: url("/fonts/PoorRichardOpti.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poor Richard Bold";
  src: url("/fonts/PoorRichardBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Droid Sans";
  src: url("/fonts/droidsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pandion";
  src: url("/fonts/PandionPersonalUse-vnOD9.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .paragraph-header {
    @apply text-2xl font-richard font-extrabold;
  }

  .margin {
    @apply mx-auto;
  }

  /* .parchment-highlight {
    @apply bg-black bg-opacity-10 backdrop-saturate-200 p-2 rounded-lg;
  } */

  .text-inset {
    text-shadow:
      1px 1px 2px rgba(0, 0, 0, 0.8),
      /* Dark shadow for depth */ -1px -1px 2px rgba(255, 255, 255, 0.5); /* Light shadow for highlight */
  }
}

body {
  font-family: "Droid Sans";
  margin: 0;
  padding: 0;
  text-align: left;
  background: #eaede4;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 18px;
  line-height: 1.7;
  background: url("/public/background-parchment.jpg") top / cover;
  backdrop-filter: saturate(60%);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  /* width: 90%; */
  /* max-width: calc(100% - 2em); */
  margin: auto;
  /* padding: 3em 1em; */
}

p {
  text-wrap: pretty;
}

.separator {
  background-image: url("../../public/separator1.png");
  filter: hue-rotate(80deg);
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.parchment {
  background: url("/public/background-parchment.jpg") no-repeat top / cover;
}

@media screen and (max-width: 600px) {
  .parchment-highlight {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(200%);
    padding: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(60, 60, 0, 0.1);
    box-shadow: 5px 5px 15px 5px rgba(60, 60, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 100%;
    align-self: center;
  }
}
@media screen and (min-width: 600px) {
  .parchment-highlight {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(200%);
    padding: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(60, 60, 0, 0.1);
    box-shadow: 5px 5px 15px 5px rgba(60, 60, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
    width: 41.666667%;
    display: flex;
    flex-direction: column;
  }
}

a {
  font-weight: bold;
  text-decoration: underline;
}

.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("tavern.png") top / cover;
  width: 100%;
  height: 60rem;
  padding-top: 5rem;
}
