/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rotis";
  src: url("/fonts/RotisSemiSerifStd.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rotis";
  src: url("/fonts/RotisSemiSerifStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poor Richard";
  src: url("/fonts/PoorRichardOpti.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poor Richard Bold";
  src: url("/fonts/PoorRichardBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Droid Sans";
  src: url("/fonts/droidsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pandion";
  src: url("/fonts/PandionPersonalUse-vnOD9.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3 {
  font-family: "Cinzel Decorative", serif;
  color: #eee;
  letter-spacing: 1px;
}

p {
  text-wrap: pretty;
}

a {
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: #ffb347;
  text-shadow: 0 0 5px #d68016;
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.margin {
  margin-left: auto;
  margin-right: auto;
}

.paragraph-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Poor Richard", serif;
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .parchment-highlight {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(200%);
    padding: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(60, 60, 0, 0.1);
    box-shadow: 5px 5px 15px 5px rgba(60, 60, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 100%;
    align-self: center;
    z-index: 10;
  }
}
@media screen and (min-width: 600px) {
  .parchment-highlight {
    background-image: url("/public/woodboard.png");
    background-size: contain;
    backdrop-filter: brightness(60%);
    padding: 8px 64px 8px 64px;
    /* border-radius: 8px; */
    -webkit-box-shadow: 5px 5px 15px 5px rgba(60, 60, 0, 0.1);
    box-shadow: 5px 5px 15px 5px rgba(60, 60, 0, 0.1);
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 50px;
    width: 41.666667%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: relative;
    border: 3px solid gray;
    border-radius: 10px;
  }
}

.parchment-highlight img {
  z-index: -10;
  overflow: hidden;
  position: absolute;
  inset: 0;
  transform: rotate(90deg);
  width: 35%;
  margin: -40% auto;
  transform-box: fill-box;
  transform-origin: center;
  aspect-ratio: 1/3;
  filter: brightness(0) saturate(100%) invert(80%) sepia(64%) saturate(1298%) hue-rotate(359deg) brightness(104%)
    contrast(104%);
}

.hero {
  /* background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("tavern.png") top / cover; */
  width: 100%;
  height: 50rem;
  padding-top: 5rem;
}

.carved-text {
  /* font-family: "Cinzel", serif; */
  font-weight: 700;
  color: orange;
  background: inherit;
  position: relative;
  text-shadow:
    1px 1px 1px rgba(255, 255, 255, 0.2),
    /* highlight edge */ -2px -1px 1px rgba(0, 0, 0, 0.6); /* inner shadow */
  -webkit-background-clip: text;
  background-clip: text;
}

/* Optional: darker surface effect behind text */
/* .carved-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.3);
  filter: blur(1px);
  z-index: -1;
} */

#bouclier-logo {
  /* filter: drop-shadow(5px 5px 10px #000000); */
  height: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

#bouclier-big {
  filter: drop-shadow(10px 10px 20px #000000);
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
