<body
  class="m-0 grid min-h-full grid-rows-[auto_1fr_auto] break-words bg-black p-0 text-left font-droid text-lg leading-7 text-white"
>
  <slot />
</body>

<style>
  body {
    background-size: 100% 600px;
    backdrop-filter: blur(3px);
    background:
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("tavernout.jpg") top / cover;
  }
</style>
