---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Body from "../components/navigation/Body.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <div class="m-20">
      <h1 class="text-wrap text-center font-richard text-7xl">ERREUR 404</h1>
      <h2 class="text-wrap text-center font-richard text-5xl">Page non trouvée</h2>
    </div>
  </Body>
</html>
