---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ImageCard from "../components/ImageCard.astro";
import ImageLinkCard from "../components/ImageLinkCard.astro";
import AlignedItems from "../components/AlignedItems.astro";
import Separator from "../components/Separator.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={SITE_TITLE}
            description={SITE_DESCRIPTION}
            canonicalURL="https://www.heritiersdedumnacus.fr"
        />
    </head>
    <body>
        <Header />
        <main>
            <div
                style="font-size: 1px; position: absolute; left: 0; right:0; opacity: 0%;"
            >
                jeu jeux role roles rôle rôles angers anjou jeux de rôles jdr
                ttrpg jeu de rôle jeu de role jeux de role jeux de roles club
                association maine et loire pays loire beaucouzé trélazé forum
                heritiers héritiers dumnacus activité fun
            </div>
            <div class="flex flex-row w-4/5 margin">
                <img src="/bouclier2png.png" alt="bouclier" class="w-1/3" />
                <h1 class="font-richard text-wrap text-[5vw] m-auto">
                    Et si pour une fois, c'était vous le Héros ?
                </h1>
            </div>
            <Separator />
            <div
                class="margin"
                itemscope
                itemprop="https://schema.org/LocalBusiness"
            >
                <h1 class="text-center text-4xl font-richard text-bold mt-[3%]">
                    Bienvenue chez les Héritiers de Dumnacus !
                </h1><br />

                <div itemprop="description">
                    <h3 class="paragraph-header">Qui sommes-nous ?</h3>
                    <p>
                        Les Héritiers de Dumnacus sont une association de Jeux
                        de Rôles située à Angers. Notre objectif est de nous
                        réunir pour pratiquer notre loisir, mais également de le
                        faire découvrir à un public novice lors d'événements
                        organisés.
                    </p>
                </div><br />

                <div itemprop="isAccessibleForFree">
                    <h3 class="paragraph-header">
                        Vous êtes novice et n'osez pas franchir le pas ?
                    </h3>
                    <p>
                        Rien ne vous oblige à adhérer à notre association
                        directement : vous pouvez venir découvrir ce loisir
                        pendant <span class="font-bold"
                            >trois séances gratuitement</span
                        >
                        sans vous engager !
                    </p>
                </div><br />

                <div itemprop="priceRange">
                    <h3 class="paragraph-header">
                        Le coût de l'adhésion vous effraie ?
                    </h3>
                    <p>
                        L'adhésion ne coûte que 20€ par an et seulement 15€ pour
                        les étudiants, et donne accès à tous les avantages
                        d'adhérent ainsi que des réduction chez nos boutiques
                        partenaires.
                    </p>
                </div><br />

                <div itemprop="address">
                    <h3 class="paragraph-header">Où nous trouver ?</h3>
                    <p>
                        Nos locaux sont dans les locaux du 42, au <span
                            class="font-bold"
                            >42 rue Henri Hamelin, 49000 Angers</span
                        >.
                    </p>
                </div><br />

                <div itemprop="event">
                    <h3 class="paragraph-header">Quand est-ce qu'on joue ?</h3>
                    <p>
                        Nous avons des parties essentiellement de jeux de rôles
                        tous les week-ends, une le samedi soir et une le
                        dimanche après-midi, en fonction des propositions et
                        présences. Vous pouvez consulter et discuter de la
                        prochaine partie sur notre <a
                            href="https://heritiers-dumnacus.forumactif.org/"
                            target="_blank">forum</a
                        > !
                    </p>
                </div>
            </div>
            <div
                class="font-rotis text-[3vw] text-center w-full border-[3px] margin mt-[5%] drop-shadow-lg"
                style="background-color: rgba(117, 186, 3, 0.7);"
            >
                En ce moment sur nos tables
            </div>
            <br />
            <div class="align-mobile">
                <AlignedItems>
                    <ImageCard text="Wrath & Glory" image="/rpg/wg.jpg" />
                    <ImageCard text="Fallout 111" image="/rpg/fallout.jpg" />
                    <ImageCard
                        text="Vampire la Mascarade"
                        image="/rpg/vampire.png"
                    />
                    <ImageCard
                        text="Donjon de Poche"
                        image="/rpg/donjondepoche.jpg"
                    />
                </AlignedItems>
                <Separator />
                <br />
                <AlignedItems>
                    <ImageLinkCard
                        header="Notre Forum"
                        href="https://heritiers-dumnacus.forumactif.org/"
                        image="/forumactif-logo.png"
                        text="Pour l'organisation de nos parties"
                    />
                    <ImageLinkCard
                        header="Notre Discord"
                        href="https://discord.gg/4qdqpWbYdA"
                        image="/Discord-Logo.png"
                        text="Notre second plateforme de communication"
                    />
                </AlignedItems>
            </div>
        </main>
        <Footer />
    </body>
</html>
