---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ImageCard from "../components/ImageCard.astro";
import ImageLinkCard from "../components/ImageLinkCard.astro";
import AlignedItems from "../components/AlignedItems.astro";
import Separator from "../components/Separator.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      canonicalURL="https://www.heritiersdedumnacus.fr"
    />
  </head>
  <body>
    <Header />
    <main>
      <div
        style="font-size: 1px; position: absolute; left: 0; right:0; opacity: 0%;"
      >
        jeu jeux role roles rôle rôles angers anjou jeux de rôles jdr ttrpg jeu
        de rôle jeu de role jeux de role jeux de roles club association maine et
        loire pays loire beaucouzé trélazé forum heritiers héritiers dumnacus
        activité fun
      </div>
      <div class="hero flex flex-col w-full p-10">
        <img
          src="/bouclierbig.png"
          alt="bannière"
          class="w-5/12 mx-auto"
          alt="Logo des Héritiers de Dumnacus : un bouclier gris avec contour vert et un monogramme 'HD' en orange"
        />
        <h1
          class="font-richard text-wrap text-[4vw] m-auto text-center text-white"
        >
          Et si pour une fois, c'était vous le Héros ?
        </h1>
      </div>
      <Separator />
      <div
        class="w-full margin"
        itemscope
        itemprop="https://schema.org/LocalBusiness"
      >
        <h1 class="text-center text-4xl font-richard text-bold mt-[3%]">
          Bienvenue chez les <span class="text-5xl">H</span>éritiers de <span
            class="text-5xl">D</span
          >umnacus !
        </h1><br />

        <AlignedItems>
          <div itemprop="description" class="w-5/12 mx-5 parchment-highlight">
            <h3 class="paragraph-header">Qui sommes-nous ?</h3>
            <p class="w-full my-auto">
              Les Héritiers de Dumnacus sont une association de Jeux de Rôles
              située à Angers. Notre mission : partager notre passion en
              réunissant des joueurs de tous niveaux, et faire découvrir ce
              loisir à un public curieux lors d’événements ouverts à tous.
            </p>
          </div><br />

          <div
            itemprop="isAccessibleForFree"
            class="w-5/12 mx-5 parchment-highlight"
          >
            <h3 class="paragraph-header">
              Vous êtes novice et n'osez pas franchir le pas ?
            </h3>
            <p class="w-full my-auto">
              <span class="font-bold">Pas besoin d’adhérer tout de suite</span> :
              vous pouvez venir essayer
              <span class="font-bold">gratuitement durant trois séances</span>,
              sans engagement. C’est notre façon de vous accueillir comme il se
              doit dans l’univers du jeu de rôle.
            </p>
          </div><br />

          <div itemprop="priceRange" class="parchment-highlight">
            <h3 class="paragraph-header">
              Le coût de l'adhésion vous effraie ?
            </h3>
            <div class="my-auto">
              <p class="w-full">
                L'adhésion ne coûte que <span class="font-bold">20€ par an</span
                > et seulement <span class="font-bold"
                  >15€ pour les étudiants</span
                >. <br />
                En devenant membre, vous profitez :
              </p>
              <ul class="list-disc ml-6">
                <li>de l’accès à toutes nos parties,</li>
                <li>de réductions chez nos boutiques partenaires,</li>
                <li>et d’une communauté chaleureuse et passionnée.</li>
              </ul>
            </div>
          </div><br />
        </AlignedItems>
        <br />
        <AlignedItems>
          <div itemprop="address" class="parchment-highlight">
            <h3 class="paragraph-header">Où nous trouver ?</h3>
            <p class="w-full my-auto">
              Venez nous retrouver au <span class="font-bold"
                >12 rue Louis Boiramé, 49000 Angers</span
              >, dans la résidence Arceau.<br />
              Sur place vous pourrez nous trouver via l'entrée accessible en faisant
              le tour du bâtiment par le square Louis Boisramé. Un de nos membres
              viendra vous ouvrir.
            </p>
          </div><br />

          <div itemprop="event" class="parchment-highlight">
            <h3 class="paragraph-header">Quand est-ce qu'on joue ?</h3>
            <div class="my-auto">
              <p class="w-full">
                Nous organisons des parties chaque week-end :
              </p>
              <ul class="list-disc ml-6">
                <li>le samedi soir</li>
                <li>et le dimanche après-midi</li>
              </ul>
              <p class="w-full">
                selon les propositions des meneurs et les disponibilités des
                joueurs.<br />
                Vous pouvez consulter et discuter de la prochaine partie sur notre
                <a
                  href="https://heritiers-dumnacus.forumactif.org/"
                  target="_blank"
                  class="font-bold underline">forum</a
                > !
              </p>
            </div>
          </div>
        </AlignedItems>
        <br />
        <AlignedItems>
          <div itemprop="event" class="parchment-highlight">
            <h3 class="paragraph-header">
              Je veux essayer ! Je fais comment ?
            </h3>
            <div class="my-auto">
              <p class="w-full">
                Tout le monde est le bienvenu, novice comme vétéran ! Pour vous
                inscrire à une partie :
              </p>
              <ul class="list-decimal ml-6">
                <li>
                  Rendez-vous sur notre <a
                    href="https://heritiers-dumnacus.forumactif.org/"
                    target="_blank"
                    class="font-bold underline">forum</a
                  >.
                </li>
                <li>Trouvez la partie qui vous intéresse.</li>
                <li>
                  Indiquez votre présence dans le sujet correspondant (ou via <a
                    href="https://discord.gg/4qdqpWbYdA">Discord</a
                  > si c’est plus simple pour vous).
                </li>
              </ul>
              <i
                ><small
                  >Note : certaines de nos parties sont pour un public <b
                    >adulte</b
                  >, pensez à vérifier si la partie est ouverte aux plus jeunes
                  si vous êtes mineur.</small
                ></i
              >
            </div>
          </div>
        </AlignedItems>
      </div>
    </main>
    <div
      class="font-rotis text-[3vw] text-center w-11/12 border-[3px] margin mt-[5%] drop-shadow-lg"
      style="background-color: rgba(117, 186, 3, 0.7);"
    >
      En ce moment sur nos tables
    </div>
    <br />
    <div class="align-mobile w-10/12 margin mt-10">
      <AlignedItems>
        <ImageCard
          text="Wrath & Glory"
          image="/rpg/wg.jpg"
          alt="Image de couverture du jeu de rôle Wrath and Glory"
        />
        <ImageCard
          text="Fallout 111"
          image="/rpg/fallout.jpg"
          alt="Image de couverture du jeu de rôle Fallout 111"
        />
        <ImageCard
          text="Vampire la Mascarade"
          image="/rpg/vampire.png"
          alt="Image de couverture du jeu de rôle Vampire la Mascarade"
        />
        <ImageCard
          text="Donjon de Poche"
          image="/rpg/donjondepoche.jpg"
          alt="Image du jeu rôle Donjon de Poche"
        />
      </AlignedItems>
      <Separator />
      <br />
      <AlignedItems>
        <ImageLinkCard
          header="Notre Forum"
          href="https://heritiers-dumnacus.forumactif.org/"
          image="/forumactif-logo.png"
          text="Pour l'organisation de nos parties"
          alt="Logo de forumactif, plateforme du forum des Héritiers de Dumnacus"
        />
        <ImageLinkCard
          header="Notre Discord"
          href="https://discord.gg/4qdqpWbYdA"
          image="/Discord-Logo.png"
          text="Notre second plateforme de communication"
          alt="Logo de Discord, plateforme de communication secondaire des Héritiers de Dumnacus"
        />
      </AlignedItems>
      <br />
    </div>

    <Footer />
  </body>
</html>
