---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ImageCard from "../components/ImageCard.astro";
import ImageLinkCard from "../components/ImageLinkCard.astro";
import AlignedItems from "../components/AlignedItems.astro";
import Separator from "../components/Separator.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      canonicalURL="https://www.heritiersdedumnacus.fr"
    />
  </head>
  <body>
    <Header />
    <main>
      <div
        style="font-size: 1px; position: absolute; left: 0; right:0; opacity: 0%;"
      >
        jeu jeux role roles rôle rôles angers anjou jeux de rôles jdr ttrpg jeu
        de rôle jeu de role jeux de role jeux de roles club association maine et
        loire pays loire beaucouzé trélazé forum heritiers héritiers dumnacus
        activité fun
      </div>
      <div class="flex flex-row w-4/5 margin">
        <img
          src="/bouclier2png.png"
          alt="bouclier"
          class="w-1/3 mr-5"
          alt="Logo des Héritiers de Dumnacus : un bouclier gris avec contour vert et un monogramme 'HD' en orange"
        />
        <h1 class="font-richard text-wrap text-[5vw] m-auto">
          Et si pour une fois, c'était vous le Héros ?
        </h1>
      </div>
      <Separator />
      <div class="margin" itemscope itemprop="https://schema.org/LocalBusiness">
        <h1 class="text-center text-4xl font-richard text-bold mt-[3%]">
          Bienvenue chez les <span class="text-5xl">H</span>éritiers de <span
            class="text-5xl">D</span
          >umnacus !
        </h1><br />

        <AlignedItems>
          <div itemprop="description" class="w-5/12 mx-5 parchment-highlight">
            <h3 class="paragraph-header">Qui sommes-nous ?</h3>
            <p class="w-full">
              Les Héritiers de Dumnacus sont une association de Jeux de Rôles
              située à Angers. Notre objectif est de nous réunir pour pratiquer
              notre loisir, mais également de le faire découvrir à un public
              novice lors d'événements organisés.
            </p>
          </div><br />

          <div
            itemprop="isAccessibleForFree"
            class="w-5/12 mx-5 parchment-highlight"
          >
            <h3 class="paragraph-header">
              Vous êtes novice et n'osez pas franchir le pas ?
            </h3>
            <p class="w-full">
              Rien ne vous oblige à adhérer à notre association directement :
              vous pouvez venir découvrir ce loisir pendant <span
                class="font-bold">trois séances gratuitement</span
              >
              sans vous engager !
            </p>
          </div><br />

          <div itemprop="priceRange" class="parchment-highlight">
            <h3 class="paragraph-header">
              Le coût de l'adhésion vous effraie ?
            </h3>
            <p class="w-full">
              L'adhésion ne coûte que 20€ par an et seulement 15€ pour les
              étudiants, et donne accès à tous les avantages d'adhérent ainsi
              que des réduction chez nos boutiques partenaires.
            </p>
          </div><br />
        </AlignedItems>
        <br />
        <AlignedItems>
          <div itemprop="address" class="parchment-highlight">
            <h3 class="paragraph-header">Où nous trouver ?</h3>
            <p class="w-full">
              Nos locaux sont dans les locaux du 42, au <span class="font-bold"
                >42 rue Henri Hamelin, 49000 Angers</span
              >.<br />
              Sur place vous pourrez nous trouver dans l'atelier, au fond du couloir
              en face de l'entrée.
            </p>
          </div><br />

          <div itemprop="event" class="parchment-highlight">
            <h3 class="paragraph-header">Quand est-ce qu'on joue ?</h3>
            <p class="w-full">
              Nous avons des parties essentiellement de jeux de rôles tous les
              week-ends, une le samedi soir et une le dimanche après-midi, en
              fonction des propositions et présences. Vous pouvez consulter et
              discuter de la prochaine partie sur notre <a
                href="https://heritiers-dumnacus.forumactif.org/"
                target="_blank"
                class="font-bold underline">forum</a
              > !
            </p>
          </div>
        </AlignedItems>
        <br />
        <AlignedItems>
          <div itemprop="event" class="parchment-highlight">
            <h3 class="paragraph-header">
              Je veux essayer ! Je fais comment ?
            </h3>
            <p class="w-full">
              Tout le monde, novice comme vétéran, est bienvenu à nos parties !
              Pour participer, il suffit de venir sur le <a
                href="https://heritiers-dumnacus.forumactif.org/"
                target="_blank"
                class="font-bold underline">forum</a
              > et d'indiquer sa présence sur la page de la partie (possible aussi
              de le faire via <a href="https://discord.gg/4qdqpWbYdA">Discord</a
              >).<br />
              <i
                ><small
                  >Note : certaines de nos parties sont pour un public <b
                    >adulte</b
                  >, pensez à vérifier si la partie est ouverte aux plus jeunes
                  si vous êtes mineur.</small
                ></i
              >
            </p>
          </div>
        </AlignedItems>
      </div>
      <div
        class="font-rotis text-[3vw] text-center w-full border-[3px] margin mt-[5%] drop-shadow-lg"
        style="background-color: rgba(117, 186, 3, 0.7);"
      >
        En ce moment sur nos tables
      </div>
      <br />
      <div class="align-mobile">
        <AlignedItems>
          <ImageCard
            text="Wrath & Glory"
            image="/rpg/wg.jpg"
            alt="Image de couverture du jeu de rôle Wrath and Glory"
          />
          <ImageCard
            text="Fallout 111"
            image="/rpg/fallout.jpg"
            alt="Image de couverture du jeu de rôle Fallout 111"
          />
          <ImageCard
            text="Vampire la Mascarade"
            image="/rpg/vampire.png"
            alt="Image de couverture du jeu de rôle Vampire la Mascarade"
          />
          <ImageCard
            text="Donjon de Poche"
            image="/rpg/donjondepoche.jpg"
            alt="Image du jeu rôle Donjon de Poche"
          />
        </AlignedItems>
        <Separator />
        <br />
        <AlignedItems>
          <ImageLinkCard
            header="Notre Forum"
            href="https://heritiers-dumnacus.forumactif.org/"
            image="/forumactif-logo.png"
            text="Pour l'organisation de nos parties"
            alt="Logo de forumactif, plateforme du forum des Héritiers de Dumnacus"
          />
          <ImageLinkCard
            header="Notre Discord"
            href="https://discord.gg/4qdqpWbYdA"
            image="/Discord-Logo.png"
            text="Notre second plateforme de communication"
            alt="Logo de Discord, plateforme de communication secondaire des Héritiers de Dumnacus"
          />
        </AlignedItems>
      </div>
    </main>
    <Footer />
  </body>
</html>
