---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="flex flex-row ">
				<img src="/public/bouclier2png.png" alt="bouclier" class="w-1/2"/>
				<h1 class="font-richard text-wrap text-7xl m-auto">Et si pour une fois, c'était vous le Héros ?</h1>
			</div>
		</main>
		<Footer />
	</body>
</html>
