---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/navigation/Header.astro";
import Footer from "../components/navigation/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Body from "../components/navigation/Body.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      canonicalURL="https://www.heritiersdedumnacus.fr/nousrejoindre/"
    />
    <style>
      h2 {
        /* font-family: "Poor Richard"; */
        font-weight: bold;
        font-size: xx-large;
      }
    </style>
  </head>

  <Body>
    <h1 class="text-bold text-center font-richard text-6xl">Nous Rejoindre</h1><br />
    <!-- <div class="parchment-highlight w-full"> -->
    <h2 class="font-richard font-extrabold">J'en suis !</h2>
    <p>
      Nous vous accueillerons avec plaisir dans notre association, que vous soyez débutant complet ou vétéran du jeu de
      rôle, joueur ou maître du jeu, nous sommes ouverts à tous !
    </p>
    <p>
      Vous pouvez commencer par un premier contact via mail avec heritiers.dumnacus@gmail.com, ou bien directement via
      le forum ou notre serveurs Discord.
    </p>
    <p>Puis découvrir notre planning et nos activités sur le forum.</p>
    <!-- </div> -->
    <br />
    <!-- <div class="parchment-highlight"> -->
    <h2 class="font-richard font-extrabold">Je m'y rends comment ?</h2>
    <p>
      Les Héritiers de Dumnacus sont actuellement situés dans les locaux du 42, au 42 rue Henri Hamelin, 49000 Angers.
    </p>

    <p>Pour y aller, plusieurs solutions sont possibles :</p>
    <ul class="ml-6 list-disc">
      <li>En voiture, il y a un parking attenant au 42, ainsi que le parking place Marcel Vigne à 200m.</li>
      <li>En tramway, les lignes B et C passent à l'arrêt Élysée.</li>
      <li>En bus, les lignes 2 et 6 s'arrête passent à l'arrêt Chapelle Belle-Beille.</li>
    </ul>
    <!-- </div> -->
    <br />
    <!-- <div class="parchment-highlight"> -->
    <h2 class="font-richard font-extrabold">J'y suis, je vais où ?</h2>
    <p>
      Si 19h approche et que les portes sont déverrouillées, entrez ! Vous pourrez retrouver vos compagnons de jeu dans
      la salle au fond du couloir. Et si vous arrivez avant l'un de nos gardiens des clés, prenez le temps de discuter
      avec les autres membres déjà présents. Et si vous venez le soir, il y aura toujours du monde pour vous ouvrir.
    </p>
    <!-- </div> -->
    <br />
    <!-- <div class="parchment-highlight"> -->
    <h2 class="font-richard font-extrabold">C'est sympa ici, comment ça se passe ?</h2>
    <p>
      Notre association se réunit deux fois par week-ends, pour une partie le samedi de 19h30 à 23h00 et une autre le
      dimanche de 13h30 à 18h30.
    </p>

    <p>Quand on arrive, on s'installe, on prend des nouvelles des camarades, puis l'aventure commence !</p>

    <p>Si vous êtes du soir, il est possible de diner sur place, à condition d'apporter sa gamelle.</p>

    <p>
      Vous pouvez venir visiter et découvrir l'association <b>trois fois gratuitement</b> ! Une fois les trois séances d'essai
      passées, vous pouvez nous rejoindre pour une adhésion de 20€ par an, et seulement 15€ pour les étudiants.
    </p>
    <!-- </div> -->
  </Body>
</html>
