---
import "../styles/global.css";
---

<div class="flex justify-center">
  <slot />
</div>

<style>
  @media screen and (max-width: 600px) {
    div {
      flex-direction: column;
      /* margin-bottom: 20px; */
    }

    div > * {
      width: 100%;
      margin: 10px;
    }
  }
  @media screen and (min-width: 600px) {
    div {
      flex-direction: row;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  div > * {
    margin-left: auto;
    margin-right: auto;
  }

  div > * > p {
    margin-top: auto;
  }
</style>
