---
import "../styles/global.css";
---

<div class="flex margin">
  <slot />
</div>

<style>
  @media screen and (max-width: 600px) {
    div {
      flex-direction: column;
    }
  }
  @media screen and (min-width: 600px) {
    div {
      flex-direction: row;
    }
  }
</style>
