<div
  class="margin relative mt-[5%] w-11/12 rounded-lg border-[3px] p-6 text-center font-rotis text-[3vw] drop-shadow-lg"
  style="background-color: rgba(117, 186, 3, 0.7);"
>
  <!-- <img src="art-deco-frame.svg" alt="" class="absolute inset-0 z-0 h-full w-full object-cover" /> -->
  <span class="relative z-10"><slot /></span>
</div>

<style>
  @media screen and (max-width: 600px) {
    div {
      font-size: xx-large;
    }
  }
  @media screen and (min-width: 600px) {
    div {
      font-size: 3vw;
    }
  }
</style>
