---
import HeaderLink from "./HeaderLink.astro";
import Hamburger from "./Hamburger.astro";
import { SITE_TITLE } from "../consts";
---

<header class="w-full">
  <nav class="desktop">
    <div class="flex flex-row">
      <img
        src="/bouclier2png.png"
        alt="Logo des Héritiers de Dumnacus : un bouclier gris avec contour vert et un monogramme 'HD' en orange"
        class="h-10 mt-auto mb-auto"
      />
      <h2 class="font-rotis font-bold text-[3vw] leading-tight mt-auto mb-auto">
        <a href="/">Les Héritiers de Dumnacus</a>
      </h2>
    </div>
    <div class="internal-links font-richard">
      <HeaderLink href="/">Accueil</HeaderLink>
      <HeaderLink href="/nousrejoindre">Nous Rejoindre</HeaderLink>
      <HeaderLink href="/jeuxderole">Jeux de Rôle</HeaderLink>
      <HeaderLink
        href="https://heritiers-dumnacus.forumactif.org/"
        target="_blank">Forum</HeaderLink
      >
    </div>
  </nav>
  <div id="hamburger">
    <Hamburger />
  </div>
</header>
<style>
  @media screen and (max-width: 600px) {
    .desktop {
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }
  }
  @media screen and (min-width: 600px) {
    #hamburger {
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }
  }

  /* @media screen and (min-width: 600px) {
        .hamburger {
            visibility: hidden;
            height: 0;
            overflow: hidden;
        }
    } */

  header {
    margin: 0;
    padding: 0 1em;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    background-image: url("textures/wood_plank.jpg");
    background-repeat: repeat-x;
    color: gold;
  }

  h2 {
    text-shadow: 0px 2px 3px inherit;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: #222939;
  }
</style>
