---
import '../styles/global.css';

interface Props {
	text: string;
	image: string;
}

const { text, image = '/bouclier2png.png' } = Astro.props;
---

<div class="flex flex-col w-[20%] justify-between margin">
    <div class="h-[20%]">
        <img src={image} class="object-cover"/>
    </div>
    <p class="margin mt-1 text-base">{text}</p>
</div>