---
import "../styles/global.css";

interface Props {
  text: string;
  image: string;
  alt?: string;
}

const { text, image = "/bouclier2png.png", alt } = Astro.props;
---

<div class="margin flex flex-col justify-between" id="wrapper" itemscope itemprop="https://schema.org/Game">
  <div class="h-full w-full" itemprop="image">
    <img src={image} class="h-full w-full rounded-2xl object-cover" alt={alt} />
  </div>

  <p class="margin mt-4 font-richard text-xl font-bold" itemprop="name">
    {text}
  </p>
</div>

<style>
  @media screen and (max-width: 600px) {
    div {
      width: 50vw;
    }

    #wrapper {
      margin-bottom: 20px;
    }

    div > div {
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (min-width: 600px) {
    div {
      width: 23%;
    }

    div > div {
      width: 100%;
      height: 100%;
    }
  }

  img {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
    border: 3px solid gray;
  }

  #wrapper {
    transition: transform 0.15s ease-in-out;
  }

  #wrapper:hover {
    transform: scale(1.05);
  }
</style>
